<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0748427764.js" crossorigin="anonymous"></script>
    <title>Contacts|startupMeet</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    
    <!-- Navigation bar start -->

    <header>
        <a href="#" class="logo" style="color: black;">Laundry</a>
        <ul class="nav">
            <li><a href="home.html" style="color: black;">Home</a></li>
            <li><a href="about.html" style="color: black;">About</a></li>
            <li><a href="system.html" style="color: black;">System</a></li>
            <li><a href="services.html" style="color: black;">Service</a></li>
            <li><a href="testimonials.html" style="color: black;">Testimonals</a></li>
            <li><a href="contacts.html" style="color: black;">Contact</a></li>
        </ul>
    </header>

    <!-- Navigation bar end -->


    <!-- Contact section start-->

    <section class="contact" id="contact">
        <div class="container">
            <div class="title">
                <h2 class="titleText">contact <span>U</span>s</h2>
                <p>If the customer is very smart, he or she will be able to achieve the desired result.</p>
            </div>
        
            <div class="box">
                <div class="contactForm">
        
        
                    <h3>Name</h3>
                    <div class="inputBox">
                        <input type="text" placeholder="Name">
                    </div>
                    <h3>Email</h3>
                    <div class="inputBox">
                        <input type="email" placeholder="Email">
                    </div>
                    <h3>Send Message</h3>
                    <div class="inputBox">
                        <textarea placeholder="Message"></textarea>
                    </div>
                <!-- <form action="https://formsubmit.co/sauskenaruto3421@gmail.com" method="post"> -->
                    <div class="inputBox" >
                        <input type="submit" class="btn" value="Send" >
                    </div>
                <!-- </form> -->
                </div>
        
                <div class="map">
        
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14007.473814116373!2d77.43598912834648!3d28.633704418675208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cee22c60837b7%3A0x7c35343eceb7bde0!2sABES%20Engineering%20College!5e0!3m2!1sen!2sin!4v1669646246869!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
                </div>
        
            </div>
        </div>
        
        </section>

    <!-- Contact section end -->
    <script src="../static/js/script.js"></script>
    
</body>
</html>