<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <!-- Navigation bar start -->

    <header>
        <a href="#" class="logo" style="color: black;">Laundry</a>
        <ul class="nav">
            <li><a href="home.html" style="color: black;">Home</a></li>
            <li><a href="about.html" style="color: black;">About</a></li>
            <li><a href="system.html" style="color: black;">System</a></li>
            <li><a href="services.html" style="color: black;">Service</a></li>
            <li><a href="testimonials.html" style="color: black;">Testimonals</a></li>
            <li><a href="contacts.html" style="color: black;">Contact</a></li>
        </ul>
    </header>

    <!-- Navigation bar end -->


    <section class="service" id="service">
        <div class="container">

            <div class="title">
                <h2 class="titleText">Our <span>S</span>ervice</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, deleniti.</p>
                
            </div>

            <div class="menu">

                <!-- Service menu start -->

                <!-- Service menu item start -->

                <div class="row">
                    <div class="card">
                        <div class="boxcard">
                            <div class="imgBx">
                                <img src="../static/image/service1.jpg" alt="">
                            </div>
                            <div class="text">
                                <h3>Clothes</h3>
                                <label for="check" class="next">
                                    <a id="order">Order <i class="fa-solid fa-arrow-right"></i></a>
                                </label>
                            </div>
                            <input type="checkbox" id="check">

                            <!-- Form service start -->

                            <div class="contentBx">
                                <div class="content">
                                    <h2>Details</h2>
                                    <div class="col10">
                                        <h1>Customer : </h1><input type="text" placeholder="Name">
                                        <h1>Weight : </h1><input type="text" placeholder="Weight">
                                    </div>

                                    <div class="col50">
                                        <div class="select">
                                            <select name="estimation" id="estimation">
                                                <option selected disabled>Estimation</option>
                                                <option value="fast">3 Hours</option>
                                                <option value="super">12 Hours</option>
                                                <option value="rare">1 Day</option>
                                                <option value="common">2 Days</option>
                                                <option value="broke">1 Month</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col100">
                                        <div class="select">
                                            <select name="service" id="service-item">
                                                <option selected disabled>Service</option>
                                                <option value="laundry">Laundry</option>
                                                <option value="ironing">Ironing</option>
                                                <option value="doubleService">Laundry & Ironing</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="end">
                                        <label for="check">
                                            <a class="back" id="back"><i class="fa-solid fa-arrow-left"></i> Back</a>
                                        </label>
                                        <label for="confirm">
                                            <button class="confirm" id="confirm">Confirm <i class="fa-solid fa-arrow-right"></i></button>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Form service end -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <div class="boxcard">
                            <div class="imgBx">
                                <img src="../static/image/service2.jpg" alt="">
                            </div>
                            <div class="text">
                                <h3>Blanket</h3>
                                <label for="check2" class="next">
                                    <a id="order">Order <i class="fa-solid fa-arrow-right"></i></a>
                                </label>
                            </div>
                            <input type="checkbox" id="check2">

                            <!-- Form service start -->

                            <div class="contentBx">
                                <div class="content">
                                    <h2>Details</h2>
                                    <div class="col10">
                                        <h1>Customer : </h1><input type="text" placeholder="Name">
                                        <h1>Pcs : </h1><input type="text" placeholder="Pcs">
                                    </div>

                                    <div class="col50">
                                        <div class="select">
                                            <select name="estimation" id="estimation">
                                                <option selected disabled>Estimation</option>
                                                <option value="fast">3 Hours</option>
                                                <option value="super">12 Hours</option>
                                                <option value="rare">1 Day</option>
                                                <option value="common">2 Days</option>
                                                <option value="broke">1 Month</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col100">
                                        <div class="select">
                                            <select name="service" id="service-item">
                                                <option selected disabled>Service</option>
                                                <option value="laundry">Laundry</option>
                                                <option value="ironing">Ironing</option>
                                                <option value="doubleService">Laundry & Ironing</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="end">
                                        <label for="check2">
                                            <a class="back" id="back"><i class="fa-solid fa-arrow-left"></i> Back</a>
                                        </label>
                                        <label for="confirm2">
                                            <button class="confirm" id="confirm2">Confirm <i class="fa-solid fa-arrow-right"></i></button>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Form service end -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <div class="boxcard">
                            <div class="imgBx">
                                <img src="../static/image/service3.jpg" alt="">
                            </div>
                            <div class="text">
                                <h3>Shoes</h3>
                                <label for="check3" class="next">
                                    <a id="order">Order <i class="fa-solid fa-arrow-right"></i></a>
                                </label>
                            </div>
                            <input type="checkbox" id="check3">

                            <!-- Form service start -->

                            <div class="contentBx">
                                <div class="content">
                                    <h2>Details</h2>
                                    <div class="col10">
                                        <h1>Customer : </h1><input type="text" placeholder="Name">
                                        <h1>Pairs : </h1><input type="text" placeholder="Pairs">
                                    </div>

                                    <div class="col50">
                                        <div class="select">
                                            <select name="estimation" id="estimation">
                                                <option selected disabled>Estimation</option>
                                                <option value="fast">3 Hours</option>
                                                <option value="super">12 Hours</option>
                                                <option value="rare">1 Day</option>
                                                <option value="common">2 Days</option>
                                                <option value="broke">1 Month</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col100">
                                        <div class="select">
                                            <select name="service" id="service-item">
                                                <option selected disabled>Service</option>
                                                <option value="laundry">Laundry</option>
                                                <option value="ironing">Ironing</option>
                                                <option value="doubleService">Laundry & Ironing</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="end">
                                        <label for="check3">
                                            <a class="back" id="back"><i class="fa-solid fa-arrow-left"></i> Back</a>
                                        </label>
                                        <label for="confirm3">
                                            <button class="confirm3" id="confirm3">Confirm <i class="fa-solid fa-arrow-right"></i></button>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Form service end -->
                        </div>
                    </div>
                </div>
            <script src="../static/js/script.js"></script>
</body>
</html>