<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <!-- Navigation bar start -->

    <header>
        <a href="#" class="logo">Laundry</a>
        <ul class="nav">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="system.html">System</a></li>
            <li><a href="services.html">Service</a></li>
            <li><a href="testimonials.html">Testimonals</a></li>
            <li><a href="contacts.html">Contact</a></li>
        </ul>
    </header>

    <!-- Navigation bar end -->
    <section class="system" id="system">

        <div class="container">

            <div class="title">
                <h2 class="titleText">Our<span>S</span>ystem</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, et!</p>
            </div>

            <div class="row">
                <div  class="timeline">
                    <div class="row">
                    

                        <!-- Time line item start -->

                        <div class="timeline-item">
                            <div class="timeline-item-inner">
                                <i class="icon"></i>
                                <span>Administration</span>
                                <h4>Admin</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque odio laudantium quisquam sequi quas tempora ea dolore delectus ut ab.</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-item-inner">
                                <i class="icon"></i>
                                <span>Washing Stage</span>
                                <h4>Laundry Attendant</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque odio laudantium quisquam sequi quas tempora ea dolore delectus ut ab.</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-item-inner">
                                <i class="icon"></i>
                                <span>Drying Stage</span>
                                <h4>Drying Clerk</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque odio laudantium quisquam sequi quas tempora ea dolore delectus ut ab.</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-item-inner">
                                <i class="icon"></i>
                                <span>Ironing Stage</span>
                                <h4>Ironing Officer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque odio laudantium quisquam sequi quas tempora ea dolore delectus ut ab.</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-item-inner">
                                <i class="icon"></i>
                                <span>Packaging Stage/span>
                                <h4>Packaging Officer</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque odio laudantium quisquam sequi quas tempora ea dolore delectus ut ab.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Time line item end -->

            </div>
        </div>
    </section>

    <!-- System section end -->
    
    <!-- JS Link -->
    
    <script src="../static/js/script.js"></script>

</body>
</html>